<%= form_for(@slot) do |f| %>
  <% if @slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
      <% @slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Select a slot:
      <%= f.check_box :time_slots, { multiple: true , label: "Slot 1"}, 1, nil %>
      <%= f.check_box :time_slots, { multiple: true , label: "Slot 2"}, 2, nil %>
      <%= f.check_box :time_slots, { multiple: true , label: "Slot 3"}, 3, nil %>
      <%= f.check_box :time_slots, { multiple: true , label: "Slot 4"}, 4, nil %>   </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
