<p id="notice"><%= notice %></p>

<p>
  <strong>Slot1:</strong>
  <%= @slot.slot1 %>
</p>

<p>
  <strong>Slot2:</strong>
  <%= @slot.slot2 %>
</p>

<p>
  <strong>Slot3:</strong>
  <%= @slot.slot3 %>
</p>

<p>
  <strong>Slot4:</strong>
  <%= @slot.slot4 %>
</p>
<p>
<strong>slot:</strong>
	<%= @slot.time_slots %>
</p>

<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>
