<p>
	<strong>Patient:</strong>
	<%= @appointment.user.email %>
</p>
<p>
  <strong>Appointment on:</strong>
  <%= @appointment.date %> at <%= @appointment.slots %>
</p>

<%= link_to 'Reschedule', @appointment, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-warning" %>
<%= link_to 'Back', appointments_path, class: "btn btn-success" %>
