<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    
        <li><%= link_to 'Oto & Oro', calendar_path, :class => 'navbar-brand' %></li> 
      
    </div>
    <div>
      <ul class="nav navbar-nav">
              <% if user_signed_in? %>
              <li><%= link_to 'Fix An Appointment', new_appointment_path %></li>
              <li><%= link_to 'My Account', account_path %></li>
              <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
 
    <% if user_signed_in? %>
      <li> <%= form_tag appointments_path, :method => 'get' do %>  
              <p style="margin-right:20px; margin-top:15px"> 
                <%= text_field_tag :search, params[:search], :placeholder => "search" %>  
                <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>  
              </p>  
             <% end %>
        </li> 
      <li style="color:white"> Logged in as: <strong><%= current_user.email %></strong> </li>
      <li><%= link_to 'Edit Profile', edit_user_registration_path%></li>

      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
    <% else %>
        <li> <%= form_tag root_path, :method => 'get' do %>  
              <p style="margin-right:20px; margin-top:15px"> 
                <%= text_field_tag :search, params[:search], :placeholder => "search articles" %>  
                <%= submit_tag "Search", :name => nil %>  
              </p>  
             <% end %>
        </li> 
      <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li> 
      <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
    <% end %>
      </ul>
    </div>
  </div>
</nav>